html
      head
            link(rel='stylesheet' type='text/css' href='bootstrap.min.css')
            title Eye of Sauron
            meta(property='og:url' content='https://eyesauron.com')
            meta(property='og:type' content='website')
            meta(property='og:title' content='Eye of Sauron')
            meta(property='og:description' content='Non-profits, demystified.')
            meta(property='twitter:description' content='Non-profits, demystified.')
            meta(property='description' content='Non-profits, demystified.')
            meta(property='og:image' content='https://i.insider.com/5aec114a19ee861f008b4855?width=1100&format=jpeg&auto=webp')
            meta(property='twitter:image' content='https://i.insider.com/5aec114a19ee861f008b4855?width=1100&format=jpeg&auto=webp')
            meta(name='twitter:card' content='summary_large_image')
            meta(name='twitter:title' content='The Eye of Sauron')            
            meta(name="twitter:site" content="https://www.woaini.page/")
      body
            div(class='container')
                  hr
                  div(class='text-center')
                        h1 Eye of Sauron
                        div Non profits - demystified
                        div(class='text-secondary') Made by Long Tran
                  hr
                  h2(class='pb-3') FAQs
                  h6 What is this?
                  p(class='text-secondary') This takes non-profit's IRS tax filings and turn it into easy to consume information.
                  h6 How did you do this?
                  p(class='text-secondary') Algorithms and robots. 🤖
                  h6 Algorithms that do what?
                  p(class='text-secondary') The IRS doesn't have a consistent schema across all documents, and some documents are missing. This automatically try to detect a schema before it scrape.
                  h6 Is this the nerdiest project ever?
                  p(class='text-secondary') Yes
            div(class='form-group container')
                  hr
                  h2(class='pb-3') Search
                  form(action='/search' method='GET')
                        input(name='q' style='height:50px;border-radius:0px' class='form-control' type='text' placeholder='Search for non-profit here, e.g. Bill and Melinda Gates')
                        button(type='submit' class='btn btn-success mt-2') Submit
              
            
            -if(search)
                  div(class='container')
                        -if(!result.length)
                              div(class='container text-center')
                                    p(class='text-danger') No result was found for that query, please try again
                        -else
                              div(class='container')
                                    h5 Search result:
                                    p Choose all that apply
                                    form(action='result' method='GET')
                                          each value in result
                                                div
                                                      input(type='checkbox' name=value.ein) 
                                                      span= ' '+value.name
                                          button(type='submit' class='mt-2 mb-2 btn btn-primary') Scrape! 👀
            
            div(class='container')
                  hr
                  h2(class='pb-3') Popular Items
                  h5 Billionaires:
                  a(href='/result?562618866=on&911663695=on&821808476=on') Bill Gates
                  span=' '
                  a(href='/result?813742328=on&455002209=on&811669175=on') Mark Zuckerberg
                  span=' '
                  a(href='/result?136272482=on&464345140=on&205602483=on&266668934=on') Michael Bloomberg
                  span=' '
                  a(href='result?541595128=on&205921960=on&814690954=on') Larry Page
                  span=' '
                  a(href='/result?472107200=on') Sergey Brin

                  h5(class='pt-3') Non-Profits:
                  a(href='/result?200049703=on&270520584=on') Wikimedia Foundation
                  span=' '
                  a(href='/result?131684331=on') Ford Foundation
                  span=' '
                  a(href='/result?521693387=on&980203027=on') World Wildlife Fund
                  hr
                
            div(class='container pb-5')
                  p For your viewing pleisure, most popular non-profits/foundation are cached. However, a few big ones can take a long time to scrape. If your browser request time out, reload the page.
                  p Happy viewing :)
                  hr
